
/* Common Call To Action

  Global class that can be extended with attributes

*/

.call-to-action {
  background-color: var(--green);
  color: var(--white);
  padding: 12px 30px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
